.modelviewer-container {
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
}

/* Three.js画布 */
.modelviewer-canvas {
    width: 100%;
    height: 100%;
    background: #2a2a2a;
    pointer-events: auto;
}

/* 顶部控制栏 */
.top-control-bar {
    display: flex;
    align-items: center;
    padding: 1px 2px;
    height: 24px;
    background-color: #2d2d2d;
    border-bottom: 1px solid #404040;
}

.settings-button,
.reset-view-button,
.stats-button,
.download-button,
.close-button {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #e0e0e0;
    font-size: 16px;
    padding: 5px;
    transition: color 0.2s;
}

.settings-button:hover,
.reset-view-button:hover,
.stats-button:hover,
.download-button:hover {
    color: #ffffff;
}

.spacer {
    flex-grow: 1;
}

/* 数据显示按钮 */
.stats-button {
    width: 42px;
    height: 24px;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    color: #e0e0e0;
    font-size: 16px;
    padding: 5px;
    transform: translateY(-12%);
    transition: color 0.2s;
}

/* 关闭按钮 */
.close-button {
    color: #e0e0e0;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s;
}

.close-button:hover {
    color: #ff5555;
}